{% extends "blog/base.html" %}
{% block content %}
<!-- Blog Post -->
<!-- Title -->
<h1>{{post.title}}</h1>
<!-- Author -->
<p class="lead">
    by <a href="#">{{post.user}}</a>
</p>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Posted on {{post.published_date}}</p>
<hr>
<!-- Preview Image -->
<img class="img-responsive" src="{{  post.image.url }}" alt="{{post.title}}">
<hr>
<!-- Post Content -->
<p>{{post.content}}</p>
<hr>

<!-- Blog Comments -->

<!-- Comments Form -->
<div class="container">
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <h2>price: {{ post.price }}$</h2>
                <button type="submit" class="btn btn-primary  btn-lg">BUY</button>
            </form>
</div>

{% endblock %}

